@model ElJournal.ProfessorsItem

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление студента</h2>

<style>
    .btn {
        margin-bottom: 10px;
    }

    .col {
        margin-bottom: 10px;
    }
</style>

<body class="d-flex h-100 text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h3>Вы уверены, что хотите удалить данную запись?</h3>
        <div>
            <h4>Отменить данное действие будет невозможно.</h4>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить безвозвратно" class="btn btn-danger" />
                    <button type="button" class="btn btn-light">@Html.ActionLink("Вернуться в список", "Index")</button>
                </div>
            }
        </div>
    </div>
</body>