@{
    ViewBag.Title = "About";
}

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main aria-labelledby="title">
            <h2 id="title">Помощь в приложении</h2>
            <h3>Если вы столкнулись с ошибкой в приложении, напишите</h3>

            <p>на почту lulakushka@gmail.com.</p>
            <a href="javascript: history.go(-1)">Вернуться в предыдущий раздел.</a>
        </main>
        </div>
</body>